Setup

In [1]:
import pandas as pd
import numpy as np

In [2]:
url = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"

In [23]:
#Extracting the tables using Pandas and retaaining the table number 3 as the required table for dataset
tables = pd.read_html(url)
df = tables[3]

Extract the required GDP data from the given URL using Web Scraping.

In [24]:
# Replace the column headers with column numbers
df.columns = range(df.shape[1])

In [25]:
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

In [26]:
# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

In [27]:
# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ["Country","GDP (Million USD)"]

In [28]:
df.head()

         Country GDP (Million USD)
1  United States          26854599
2          China          19373586
3          Japan           4409738
4        Germany           4308854
5          India           3736882

In [30]:
# Change the data type of the 'GDP (Million USD)' column to integer. Use astype() method.
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

In [31]:
# Convert the GDP value in Million USD to Billion USD
df['GDP (Million USD)'] = df['GDP (Million USD)']/1000

In [32]:
# Use numpy.round() method to round the value to 2 decimal places.
df['GDP (Million USD)'] = np.round(df['GDP (Million USD)'],2)

In [34]:
# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df.rename(columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

In [42]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('Largest_Economies.csv',index=False)